__pycache__/
*.pyc
.venv/
.idea/
images/*
server/server_data.json
calibration/images/*
!calibration/images/structure.md
config/**/*.json
**.jpg
**.jpeg
**.png
static/js/packages/*.js
logs/**
audio/**
.cache/**