<!DOCTYPE html>
<html lang="en">
<head>
    <title>LED Control</title>
</head>
<body>
    <script>
        function toggleMenu() {
            const menu = document.getElementById("menu_container");
            if (menu.style.display === "block") {
                menu.style.display = "none";
            } else {
                menu.style.display = "block";
            }
        }
    </script>
    <link rel="icon" href="static/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="server/static/js/main.js"></script>
    <img src="static/icons/menu.svg" id="menu_icon" onclick="toggleMenu()">
    <div id="menu_container">
        <a href="/server/templates/index.html">
            <div id="menu_header">
                <h1>LED Control</h1>
            </div>
        </a>
        <div id="menu_items">
            <a href="/server/templates/effects.html">
                <div class="menu_item">
                    <img src="static/icons/lightbulb.svg" class="menu_icon">
                    <p>Effects</p>
                </div>
            </a>
            <a href="/server/templates/status.html">
                <div class="menu_item">
                    <img src="static/icons/info.svg" class="menu_icon">
                    <p>Status</p>
                </div>
            </a>
        </div>
    </div>
    <div id="effect_header">
        <h1>Effects</h1>
        <div class="active effect_container">
            <p>Active Effect Name</p>
            <div class="effect_tag debug_border">
                Universal
            </div>
        </div>
    </div>
    <div id="effects_container">
        {% for effect in effects %}
        <div class="effect_container" onclick="changeEffect('{{ effect }}')">
            <p>{{ effect }}</p>
            <div class="effect_tag debug_border">
                Universal
            </div>
        </div>
    </div>
</body>
</html>