<!DOCTYPE html>
<html lang="en">
<head>
    <title>LED Control</title>
</head>
<body>
    <script>
        function toggleMenu() {
            const menu = document.getElementById("menu_container");
            if (menu.style.display === "block") {
                menu.style.display = "none";
            } else {
                menu.style.display = "block";
            }
        }
    </script>
    <link rel="icon" href="static/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <img src="static/icons/menu.svg" id="menu_icon" onclick="toggleMenu()">
    <div id="menu_container">
        <a href="/server/templates/new.html">
            <div id="menu_header">
                <h1>LED Control</h1>
            </div>
        </a>
        <div id="menu_items">
            <a href="/server/templates/effects.html">
                <div class="menu_item">
                    <img src="static/icons/lightbulb.svg" class="menu_icon">
                    <p>Effects</p>
                </div>
            </a>
            <a href="/server/templates/status.html">
                <div class="menu_item">
                    <img src="static/icons/info.svg" class="menu_icon">
                    <p>Status</p>
                </div>
            </a>
        </div>
    </div>
    <div id="center_container">
        <img src="static/icons/favicon.ico" id="center_image">
        <p style="font-size: 2em">Lights are active!</p>
        <div class="active effect_container">
            <p>Active Effect Name</p>
            <div class="effect_tag">
                Universal
            </div>
        </div>
		<h2>Parameters</h2>
		<div id="parameters"></div>
    </div>
</body>
</html>