<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Player</title>
</head>
<body>
    <h1>Audio Player</h1>
    <button id="start-button">Start Audio</button>
    <audio id="audio-player" style="display: none;">
        <source src="/audio/overkill.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script>
        const socket = io();
        const startButton = document.getElementById('start-button');
        const audioPlayer = document.getElementById('audio-player');
        audioPlayer.volume = 1;
        let tracking = false;
        let progressInterval;
    
        startButton.addEventListener('click', () => {
            audioPlayer.style.display = 'block';
            audioPlayer.play();
            tracking = true;
            socket.emit('start_audio'); // Notify the server to start the metronome
    
            // Start sending playback progress every minute
            progressInterval = setInterval(() => {
                if (tracking) {
                    socket.emit('playback_progress', { seconds: audioPlayer.currentTime });
                }
            }, 60000); // 60 seconds
        });
    
        audioPlayer.addEventListener('ended', () => {
            tracking = false;
            clearInterval(progressInterval); // Stop the interval when audio ends
            socket.emit('stop_audio'); // Notify the server to stop the metronome
        });
    </script>
    
</body>
</html>
