<div id="menu_header">
    <h1>Spectraforge</h1>
</div>
<div id="menu_items">
    <a href="/">
        <div class="menu_item">
            <img src="{{ url_for('static', filename='icons/home.svg') }}" class="menu_icon">
            <p>Home</p>
        </div>
    </a>
    <a href="/effects">
        <div class="menu_item">
            <img src="{{ url_for('static', filename='icons/lightbulb.svg') }}" class="menu_icon">
            <p>Effects</p>
        </div>
    </a>
    <a href="/canvas">
        <div class="menu_item">
            <img src="{{ url_for('static', filename='icons/brush.svg') }}" class="menu_icon">
            <p>Canvas</p>
        </div>
    </a>
    <a href="/setup">
        <div class="menu_item">
            <img src="{{ url_for('static', filename='icons/wrench.svg') }}" class="menu_icon">
            <p>Setup</p>
        </div>
    </a>
    <a href="/logs">
        <div class="menu_item">
            <img src="{{ url_for('static', filename='icons/logs.svg') }}" class="menu_icon">
            <p>Log</p>
        </div>
    </a>
</div>