<div id="menu_header">
    <h1>LED Control</h1>
</div>
<div id="menu_items">
    <a href="/">
        <div class="menu_item">
            <img src="static/icons/home.svg" class="menu_icon">
            <p>Home</p>
        </div>
    </a>
    <a href="/effects">
        <div class="menu_item">
            <img src="static/icons/lightbulb.svg" class="menu_icon">
            <p>Effects</p>
        </div>
    </a>
    <a href="/status">
        <div class="menu_item">
            <img src="static/icons/info.svg" class="menu_icon">
            <p>Status</p>
        </div>
    </a>
</div>