<div id="menu_header">
    <h1>Spectraforge</h1>
</div>
<div id="menu_items">
    <a href="/">
        <div class="menu_item">
            <img src="{{ url_for('static', filename='icons/home.svg') }}" class="menu_icon">
            <p>Home</p>
        </div>
    </a>
    <a href="/effects">
        <div class="menu_item">
            <img src="{{ url_for('static', filename='icons/lightbulb.svg') }}" class="menu_icon">
            <p>Effects</p>
        </div>
    </a>
    <a href="/audio">
        <div class="menu_item">
            <img src="{{ url_for('static', filename='icons/music_note.svg') }}" class="menu_icon">
            <p>Audio Files</p>
        </div>
    </a>
    <a href="/lightshows">
        <div class="menu_item">
            <img src="{{ url_for('static', filename='icons/flare.svg') }}" class="menu_icon">
            <p>Lightshows</p>
        </div>
    </a>
    <a href="/canvas">
        <div class="menu_item">
            <img src="{{ url_for('static', filename='icons/brush.svg') }}" class="menu_icon">
            <p>Canvas</p>
        </div>
    </a>
    <a href="/sandbox">
        <div class="menu_item">
            <img src="{{ url_for('static', filename='icons/package.svg') }}" class="menu_icon">
            <p>Sandbox</p>
        </div>
    </a>
    <a href="/setup">
        <div class="menu_item">
            <img src="{{ url_for('static', filename='icons/wrench.svg') }}" class="menu_icon">
            <p>Setup</p>
        </div>
    </a>
    <a href="/upload">
        <div class="menu_item">
            <img src="{{ url_for('static', filename='icons/upload_folder.svg') }}" class="menu_icon">
            <p>Upload Files</p>
        </div>
    </a>
    <a href="/settings">
        <div class="menu_item">
            <img src="{{ url_for('static', filename='icons/settings.svg') }}" class="menu_icon">
            <p>Settings</p>
        </div>
    </a>
    <a href="/logs">
        <div class="menu_item">
            <img src="{{ url_for('static', filename='icons/logs.svg') }}" class="menu_icon">
            <p>Log</p>
        </div>
    </a>
</div>