<!DOCTYPE html>
<html lang="en">

<head>
    <title>Spectraforge</title>
    <meta name="color-scheme" content="dark">
    <script src="static/js/main.js"></script>
    <script src="static/js/upload.js"></script>
    <link rel="icon" href="static/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/upload.css">
</head>

<body>
    <img src="static/icons/menu.svg" id="menu_icon" onclick="toggleMenu()">
    <div id="menu_container">
        {% include 'sidebar_menu.html' %}
    </div>
    <div class="upload_container">
        <input type="file" id="file_input" multiple accept=".py,.wav,.ogg,.mp3,.json" style="display: none;" 
               onchange="handleFileInputChange(event)">
        <img src="static/icons/upload.svg" id="upload_icon">
        <h2>Drag and drop or click to upload files!</h2>
        <p class="description">Supported files: Effects (.py), Audio files (.wav, .ogg, .mp3), Lightshows (.json), Lightshow Effects (.py)</p>
    </div>
    <!--<div class="upload_toast">
        <img class="upload_toast_icon" src="static/icons/check_circle.svg">
        <p class="upload_toast_text">File uploaded successfully!</p>
        <button class="upload_toast_close" onclick="closeUploadToast()">
            <img src="static/icons/close.svg" alt="Close">
        </button>
    </div>-->
</body>
</html>